td {
    max-width: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bg-image{
    background-image: url("../images/stars.jpg");
    background-size: auto;
}