<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <div class="navbar-nav ml-auto">
    
    <% if user_signed_in? %>

        <div class="btn-group dropstart" >
          <!-- Sidebar Toggle (Topbar) -->
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
              <%= current_user.name %>
            </span>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

            <button class="dropdown-item" type="button">
            <i class="bi bi-gear"></i>
              Profile settings
            </button>

            <button class="dropdown-item" type="button">
              <i class="bi bi-arrow-right-circle"></i>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </button>
          </div>

        </div>
      
    <% else %>
      <div class="text-center">
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
      </div>
    <% end %>
  </div>  
</nav>
<!-- End of Navbar -->
