<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <div class="navbar-nav ml-auto">
    <div>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
      <% end %>

    </div>
    <div class="topbar-divider d-none d-sm-block"></div>
      <div class="dropdown">
        <!-- Sidebar Toggle (Topbar) -->
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
          <img class="img-profile rounded-circle" style="background-color:blue ">
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

          <button class="dropdown-item" type="button">
            <a class="dropdown-item" href="#">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile settings
            </a>
          </button>

          <button class="dropdown-item" type="button">
            <a class="dropdown-item" href="#">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Log Out
            </a>
          </button>
        </div>

      </div>
  </div>  
</nav>
<!-- End of Navbar -->
