<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<% root_path %>">
    <div class="sidebar-brand-icon rotate-n-15">
    <i class="bi bi-stars"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Star Wars MIS </div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="<% root_path %>">
      <i class="bi bi-speedometer2"></i>
      <span>Dashboard</span>
    </a>
  </li>
  
  <% if current_user.admin? %>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Users
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="bi bi-person-circle"></i>
        <span>Users</span>
      </a>
    </li>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
    Missions
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <div>
      <%= link_to "Missions", missions_path , class: 'nav-link collapsed'  %>
    </div>

  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <div>
      <%= link_to "Ships", ships_path , class: 'nav-link collapsed'  %>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <div>
      <%= link_to "Droids", droids_path , class: 'nav-link collapsed'  %>
    </div>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <div>
      <%= link_to "Locations", locations_path , class: 'nav-link collapsed'  %>
    </div>
  </li>


</ul>
<!-- End of Sidebar -->